/* app css stylesheet */
header.well
  background-color: #3D668F
header
  #browserid
    float right
    color #BCFC3D
    /* color white */
  .sign-out
    float right
    color #BCFC3D
  .search-query
    margin-left 20px
  .edit
    margin-left 5px
    padding 4px 14px
  .save
    margin-left 5px
    padding 4px 6px 4px 14px

.left
  margin-bottom 10px

.tmpFood
  margin-left 10px
  font-size 12px

.total 
  width 150px
  padding 10px
  background-color #eeeeee
  margin-bottom 10px
  th, td
    border-top: none
    line-height 16px
  .cal
    font-weight bold
  td:nth-child(2) 
    float right

.eaten 
  width 150px
  .food
    position relative
  .close
    float left
    margin-top 3px
    margin-right 3px
  button
    /* margin-bottom 10px */
  td:nth-child(2) 
    /* margin-left 15px */
  input[type='text'] 
    width 40px
    margin-right 5px
  .btn-link
    /* padding 0 */
  span
    position absolute;
    top 3px
  em
    color black
  .clear em
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: black;
    text-shadow: 0 1px 0 white;
    opacity: .2;
  /*   background transparent */
  /*   border 0 */
  /*   -webkit-appearance none */

.available-food
  /* float right */
  overflow hidden
  .add-extra
    margin-top 20px
    margin-bottom 20px
  button 
    margin 2px
  .carbs 
    background-color #5BB75B
    background-image -ms-linear-gradient(top,#62C462,#51A351)
    background-image -webkit-gradient(linear,0 0,0 100%,from(#62C462),to(#51A351))
    background-image -webkit-linear-gradient(top,#62C462,#51A351)
    background-image -o-linear-gradient(top,#62C462,#51A351)
    background-image -moz-linear-gradient(top,#62C462,#51A351)
    background-image linear-gradient(top,#62C462,#51A351)
    background-repeat repeat-x
    border-color #51A351 #51A351 #387038
  .edit
    color #3D668F

.box
  background-color #eeeeee
  -webkit-border-radius 6px
  -moz-border-radius 6px
  border-radius 6px
  padding 10px

/* @media only screen and (min-width: 480px)  */

@media only screen and (min-width: 600px)
  .left 
    float left
    margin-right 10px

/* @media only screen and (min-width: 768px)  */
/*  */
/* @media only screen and (min-width: 992px)  */
/*  */
/* @media only screen and (min-width: 1382px)  */
