/* app css stylesheet */
header.well {
  background-color: #3d668f;
}
header #browserid {
  float: right;
  color: #bcfc3d;
/* color white */
}
header .sign-out {
  float: right;
  color: #bcfc3d;
}
header .search-query {
  margin-top: 10px;
}
header .edit {
  margin-left: 5px;
  padding: 4px 14px;
}
header .save {
  margin-left: 5px;
  padding: 4px 6px 4px 14px;
}
.left {
  margin-bottom: 10px;
}
.tmpFood {
  margin-left: 10px;
  font-size: 12px;
}
.total {
  width: 200px;
  padding: 10px;
  background-color: #eee;
  margin-bottom: 10px;
}
.total th,
.total td {
  border-top: none;
  line-height: 16px;
}
.total .cal {
  font-weight: bold;
}
.total td:nth-child(2) {
  float: right;
}
.eaten {
  width: 200px;
/*   background transparent */
/*   border 0 */
/*   -webkit-appearance none */
}
.eaten .food {
  position: relative;
}
.eaten .close {
  float: left;
  margin-top: 3px;
  margin-right: 3px;
}
.eaten input[type='text'] {
  width: 40px;
  margin-right: 5px;
}
.eaten span {
  position: absolute;
  top: 3px;
}
.eaten em {
  color: #000;
}
.eaten .clear em {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
}
.available-food {
/* float right */
  overflow: hidden;
}
.available-food .add-extra {
  margin-top: 20px;
  margin-bottom: 20px;
}
.available-food button {
  margin: 2px;
}
.available-food .carbs {
  background-color: #5bb75b;
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
}
.available-food .edit {
  color: #3d668f;
}
.box {
  background-color: #eee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
}
/* @media only screen and (min-width: 480px)  */
@media only screen and (min-width: 600px) {
  .left {
    float: left;
    margin-right: 10px;
  }
  header .search-query {
    margin-left: 20px;
    margin-top: 0px;
  }
}
