/* app css stylesheet */
header.well
  background-color: white
header
  #browserid
    float right
  .search-query
    margin-left 20px
  .edit
    margin-left 5px

.total 
  width 150px
  margin-bottom 20px
  td:nth-child(2) 
    float right
    margin-left 15px

.eaten 
  button
    margin-bottom 10px
  width 150px
  td:nth-child(2) 
    margin-left 15px
  input[type='text'] 
    width 40px

.available-food
  overflow hidden
  .add-extra
    margin-top 20px
    margin-bottom 20px
  button 
    margin 2px
  .carbs 
    background-color #5BB75B
    background-image -ms-linear-gradient(top,#62C462,#51A351)
    background-image -webkit-gradient(linear,0 0,0 100%,from(#62C462),to(#51A351))
    background-image -webkit-linear-gradient(top,#62C462,#51A351)
    background-image -o-linear-gradient(top,#62C462,#51A351)
    background-image -moz-linear-gradient(top,#62C462,#51A351)
    background-image linear-gradient(top,#62C462,#51A351)
    background-repeat repeat-x
    border-color #51A351 #51A351 #387038

.box
  background-color #eeeeee
  -webkit-border-radius 6px
  -moz-border-radius 6px
  border-radius 6px
  padding 10px
