/* app css stylesheet */
header.well {
  background-color: #3d668f;
}
header #browserid {
  float: right;
}
header .search-query {
  margin-left: 20px;
}
header .edit {
  margin-left: 5px;
}
.total {
  padding: 10px;
  background-color: #eee;
  margin-bottom: 10px;
}
.total th,
.total td {
  border-top: none;
  line-height: 16px;
}
.total .cal {
  font-weight: bold;
}
.total td:nth-child(2) {
  float: right;
}
.eaten button {
  margin-bottom: 10px;
}
.eaten td:nth-child(2) {
  margin-left: 15px;
}
.eaten input[type='text'] {
  width: 40px;
  margin-right: 5px;
}
.available-food {
  overflow: hidden;
}
.available-food .add-extra {
  margin-top: 20px;
  margin-bottom: 20px;
}
.available-food button {
  margin: 2px;
}
.available-food .carbs {
  background-color: #5bb75b;
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
}
.box {
  background-color: #eee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
}
