<form class="well form-inline">
  <input type="text" class="" placeholder="Name">
  <input type="text" class="input-small" placeholder="Calories">
  <input type="text" class="input-small" placeholder="Protein">
  <input type="text" class="input-small" placeholder="Carbs">
  <input type="text" class="input-small" placeholder="Fat">

  <button type="button" class="btn" ng-click="addFoodToDB()">Add</button>
  <button type="button" class="btn" ng-click="cancelAdd()">Cancel</button>
</form>

