<div class='total'>
  <table border="0" >
    <tr>
      <td>calories</td>
      <td>{{roundedTotal.calories}}</td>
    </tr>
    <tr>
      <td>protein</td>
      <td>{{roundedTotal.protein}}</td>
    </tr>
    <tr>
      <td>carbs</td>
      <td>{{roundedTotal.carbs}}</td>
    </tr>
    <tr>
      <td>fat</td>
      <td>{{roundedTotal.fat}}</td>
    </tr>
  </table>
</div>
